.table-hover > tbody > tr.visualized-row > td {
    background-color: #a9eab9!important;
  }
  
.view-legend{
    background-color: #a9eab9 !important;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}