<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (processo(); as processoRef) {
      <div>
        <h2 data-cy="processoDetailsHeading"><span>Processo</span></h2>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Npu</span></dt>
          <dd>
            <span>{{ processoRef.npu | npu}}</span>
          </dd>
          <dt><span>Data Cadastro</span></dt>
          <dd>
            <span>{{ processoRef.dataCadastro | formatMediumDate }}</span>
          </dd>
          <dt><span>Data Visualizacao</span></dt>
          <dd>
            <span>{{ processoRef.dataVisualizacao | formatMediumDate }}</span>
          </dd>
          <dt><span>Municipio</span></dt>
          <dd>
            <span>{{ processoRef.municipio }}</span>
          </dd>
          <dt><span>Uf</span></dt>
          <dd>
            <span>{{ processoRef.uf }}</span>
          </dd>
          <dt><span>Documento</span></dt>
          <dd>
            <button type="button" class="btn btn-link p-0" (click)="openPDF(processoRef.documento)">
              Visualizar PDF
            </button>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/processos', processoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
